
.navbar .navbar-brand {
  position: relative;
  top: -3px;
}
.navbar .navbar-brand img {
  height: 25px;
}

.navbar-default {
 background-color: #a51417; 
  opacity: 0.8;
}

button{
  margin: 8px;
}


.col-md-4{
  display: inline;
}

tr{
  border-bottom: 1px solid;
  border-top: 1px solid;
}
tr:hover{
  background-color:#789b4a;
}

#begin{
  background-color: #c8c8c8;
}

p.quote{
  font-style:italic;
}

.style{
  border: 2px solid;
    border-radius: solid;
  border-color: #6c7373;
}

#admissions{
  border: 2px solid;
   border-radius: 15px 50px 30px:
  border-color: #a51417;
}
