
.navbar .navbar-brand {
  position: relative;
  top: -3px;
}
.navbar .navbar-brand img {
  height: 25px;
}

.navbar-default {
 background-color: #6c7373; 
}

button{
  margin: 8px;
}


.col-md-4{
  display: inline;
}

tr{
  border-bottom: 2px solid;
  border-top: 2px solid;
}
